azure-storage-blob
azure-data-tables
azureml-mlflow
scikit-image
scikit-learn
scikit-build
protobuf==3.20
opencv-contrib-python
matplotlib
onnx==1.11.0
onnxruntime
onnx-simplifier
importlib-metadata
packaging
cryptography
psutil
tqdm
pandas
scipy
numpy
ipykernel
sphinx
pyyaml