sphinx==4.5.0
scipy==1.5.4
matplotlib==3.3.4
scikit-image==0.17.2
pyyaml==6.0
numpy
protobuf==3.19.4
onnx==1.11.0
onnxruntime
onnx-simplifier==0.3.9
scikit-learn
scikit-build
opencv-contrib-python==4.6.0.66
tqdm
pandas
flake8
psutil
azure-storage-blob
azure-data-tables
azure-identity