importlib-metadata!=4.7.0,<6,>=3.7.0
packaging<22.0,>=20.0
cryptography<39,>=38.0.0
psutil
tqdm
pandas
scipy
numpy
ipykernel
azure-storage-blob
azure-data-tables
azureml-mlflow
scikit-image
scikit-learn
scikit-build
opencv-contrib-python
onnx==1.11.0
onnxruntime
onnx-simplifier
pyyaml
matplotlib
git+https://github.com/microsoft/Olive.git@d880057ef36916f556080cbad2daddb3cfd1c08d#egg=olive-ai