importlib-metadata!=4.7.0,<6,>=3.7.0
packaging<22.0,>=20.0
cryptography<39,>=38.0.0
psutil
tqdm
pandas
scipy
numpy
ipykernel
sphinx
azure-storage-blob
azure-data-tables
azureml-mlflow
scikit-image
scikit-learn
scikit-build
opencv-contrib-python
onnx==1.11.0
onnxruntime
onnx-simplifier
pyyaml
matplotlib